div.portrait {
    margin-bottom: 10px;
}

div.info {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

div.info span {
    display: block;
    margin-bottom: 10px;
}

div.info span.name {
    font-size: 1.5em;
    font-weight: bold;
}

div.photo {
    display: inline-block;
}

div.photo img {
    width: 120px;
}