table {
    border: solid 1px black;
    width: 80%;
    border-collapse: collapse;
}

td {
    border: solid 1px black;
    padding: 0px;
}

tr:nth-child(even) {
    background-color: beige;
}

input {
    margin: 10px;
}